html, body { margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; color: #414143; }

a { color: #05683E; text-decoration: underline; }
a:hover, a:focus, a:active { color: #033721; }
a.btn-success { text-decoration: none; /*&.disabled { background-color: transparentize($success, 0.5); border: transparentize($success, 0.5);
}*/ }
a.btn-success:hover, a.btn-success:focus, a.btn-success:active { color: #FFFFFF; }

label { text-transform: uppercase; font-weight: bold; }
label.normal-text { text-transform: none; font-weight: normal; }

.course-grid .row.header { background-color: #05683E; color: #FFFFFF; font-weight: bold; padding-left: 12px; }
.course-grid .row.session { padding: 8px 0; }
.course-grid .row.session.full { display: none !important; }
.course-grid .row.session.full.shown { display: flex !important; }
.course-grid .row.session.odd { background-color: #F0F0F0; }
.course-grid .row.session.even { background-color: #FFFFFF; }
.course-grid .row.session a { color: #05683E; }
.course-grid .row.session a:hover, .course-grid .row.session a:focus, .course-grid .row.session a:active { color: #033721; outline: none; }

.client-logo { max-width: 300px; max-height: 200px; }

@media (max-width: 360px) { .course-grid .row .address { padding-right: 0; } }
nav.bg-light { background-color: #FFFFFF !important; }
nav #home-link { display: block; width: 367px; height: 48px; margin: 0 auto; }
nav #home-link * { float: left; }
nav #home-link span { padding: 0 12px; color: #4A4A4A; line-height: 48px; }
nav #gfa-logo { display: block; width: 120px; height: 48px; }
nav #rr-logo, nav #cq-logo { display: block; width: 126px; height: 48px; }
nav #rr-logo.rr-only, nav #cq-logo.rr-only { margin-left: 123px; }
nav #cq-logo { width: 153px; }
nav p { margin-bottom: 0; font-weight: 600; }
nav p { margin-bottom: 0; font-weight: 600; }
nav #help-button { font-weight: 600; font-size: 16px; white-space: nowrap; float: right; cursor: pointer; }
nav #help-button .circle { border: 1px solid #000000; width: 26px; height: 26px; border-radius: 13px; display: inline-block; text-align: center; margin-right: 8px; }

a.link { border: 0; background: none; color: #05683E; }

.booking-page-container { min-height: calc(100vh - 100px); }

.nevershow { display: none !important; }

#page-payment h1 { margin-bottom: 0; }

.card { background-color: #FFFFFF; border-bottom: 2px solid #05683E; border-radius: 0; margin-bottom: 32px; }

.booking-page-container .btn, .booking-page-container .cross-button { padding: 16px; width: 220px; font-size: 1rem; line-height: 1.5; border-radius: .25rem; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
.booking-page-container .btn.booking-for, .booking-page-container .cross-button.booking-for { width: 100%; float: left; margin-right: 0; font-size: 14px; margin-bottom: 32px; border-radius: 0; }
.booking-page-container .btn.booking-for:first-of-type, .booking-page-container .cross-button.booking-for:first-of-type { border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
.booking-page-container .btn.booking-for:last-of-type, .booking-page-container .cross-button.booking-for:last-of-type { border-top-right-radius: 5px; border-bottom-right-radius: 5px; }
.booking-page-container .btn-primary, .booking-page-container .cross-button { background-color: #05683E !important; border: 1px solid transparent; border-color: #05683E !important; color: #FFFFFF !important; }
.booking-page-container .btn-primary:hover, .booking-page-container .btn-primary:focus, .booking-page-container .btn-primary:active, .booking-page-container .cross-button:hover, .booking-page-container .cross-button:focus, .booking-page-container .cross-button:active { background-color: #033721 !important; border-color: #033721 !important; }
.booking-page-container .btn-default { border-color: #05683E !important; color: #05683E !important; margin-right: 16px; text-decoration: none; }
.booking-page-container div.words { margin-bottom: 64px; }

#help-panel { position: absolute; left: 0; top: 0; width: 100%; height: 0; overflow: hidden; background: rgba(0, 0, 0, 0.5); z-index: 100; transition: height 0.2s ease-in-out; border-bottom: 2px solid #05683E; }
#help-panel.expanded { height: 100%; }
#help-panel.expanded .container { height: 100%; }
#help-panel.expanded .container .row { height: 100%; }
#help-panel #help-header { height: 64px; }
#help-panel #help-header #help-close { font-weight: 600; font-size: 16px; white-space: nowrap; float: right; margin-top: 19px; margin-right: -13px; }
#help-panel #help-header #help-close .circle { border: 1px solid #000000; width: 26px; height: 26px; border-radius: 13px; display: inline-block; text-align: center; margin-right: 8px; }
#help-panel #help-header .col-lg-4:before { content: " "; position: absolute; width: 1200px; height: calc(100% + 1px); z-index: 0; top: 0; left: 0; background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%); /* FF3.6-15 */ background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */ background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); background-position: top right; }
#help-panel #help-header .col-lg-4 .content { z-index: 100; position: absolute; top: 0; left: 110px; }
#help-panel #help-content p.header { font-weight: bold; text-transform: uppercase; }
#help-panel #help-content .col-lg-4 { height: calc(100vh - 64px); padding-top: 64px; padding-left: 64px; }
#help-panel #help-content .col-lg-4:before { content: " "; position: absolute; width: 1200px; height: calc(100% + 1px); z-index: 0; top: 0; left: 0; background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%); /* FF3.6-15 */ background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */ background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); background-position: top right; }
#help-panel #help-content .col-lg-4 .content { z-index: 10; position: relative; }
#help-panel #help-content .col-lg-4 .content { width: 100%; height: calc(100vh - 130px); }
#help-panel #help-content .col-lg-4 .content #help-scroll { overflow-y: scroll; height: calc(100vh - 205px); }
#help-panel #help-content .col-lg-4 .content #help-scroll .accordion .card { border: none; margin-bottom: 16px; }
#help-panel #help-content .col-lg-4 .content #help-scroll .accordion .card .card-header { border: none; background: transparent; padding: 0 0 16px 0; }
#help-panel #help-content .col-lg-4 .content #help-scroll .accordion .card .card-header .btn { text-align: left; color: #000000; font-weight: 300; text-indent: -8px; padding: 0 0 0 32px; }
#help-panel #help-content .col-lg-4 .content #help-scroll .accordion .card .card-header .btn i { position: relative; left: -12px; font-size: 20px; top: 1px; }
#help-panel #help-content .col-lg-4 .content #help-scroll .accordion .card .card-body { padding: 0; }
#help-panel #help-content .col-lg-4 .content #help-scroll .accordion .card .card-body p span { font-weight: 300 !important; }

.row { width: calc(100% + 30px); }
.row.h100 { min-height: calc(100vh - 74px); }

.container-fluid { padding: 0; }

.progress-bar { width: 100%; float: left; height: 10px; background-color: #EBEBEB; }
.progress-bar .color { width: 0; height: 100%; transition: width 0.5s ease-in-out; background-color: #05683E; }

.booking-page-container { width: 100%; transition: left 0.5s ease-in-out; padding-right: 32px; display: none; }
.booking-page-container.shown { display: block; }
.booking-page-container.right { left: 100%; }
.booking-page-container.left { left: -100%; }
.booking-page-container th { background-color: #05683E; color: #FFFFFF; }

.booking-page { padding-top: 60px; min-height: calc(100vh - 75px); }
.booking-page p { font-size: 14px; font-weight: 300; line-height: 25px; margin-bottom: 0; }

.training-state, .error-block { border: 1px solid #CFCFD0; text-align: center; margin-bottom: 40px; position: relative; cursor: pointer; }
.training-state:hover, .training-state.active, .error-block:hover, .error-block.active { background-color: #F0F0F0; border-color: #C0C0C1; }
.training-state:after, .error-block:after { content: ""; display: block; padding-bottom: 100%; }
.training-state .content, .error-block .content { width: 100%; height: 100%; position: absolute; display: flex; align-items: center; justify-content: center; }
.training-state .content .inner, .error-block .content .inner { width: 100%; }
.training-state .content .inner p, .error-block .content .inner p { font-size: 16px; font-weight: bold; }
.training-state .content .inner img, .error-block .content .inner img { width: 70%; margin-bottom: 16px; }

.training-type { border: 1px solid #CFCFD0; text-align: center; margin-bottom: 40px; cursor: pointer; height: 100%; }
.training-type:hover, .training-type.active { background-color: #F0F0F0; border-color: #C0C0C1; }
.training-type .content { width: 100%; height: 100%; display: block; align-items: center; justify-content: center; padding: 0 10px; }
.training-type .content .inner p { font-weight: normal; font-size: 16px; }
.training-type .content .inner img { width: 70%; margin-bottom: 16px; }

#other-location { display: block !important; }

.training-course { margin-right: 32px; }

.training-course, .training-location, .axcel-location, .online-delivery, .pickup-location { border: 1px solid #CFCFD0; margin-bottom: 8px; padding: 12px 24px; cursor: pointer; }
.training-course:hover, .training-course.active, .training-location:hover, .training-location.active, .axcel-location:hover, .axcel-location.active, .online-delivery:hover, .online-delivery.active, .pickup-location:hover, .pickup-location.active { background-color: #F0F0F0; border-color: #C0C0C1; }
.training-course p, .training-location p, .axcel-location p, .online-delivery p, .pickup-location p { font-size: 13px; }
.training-course p strong, .training-location p strong, .axcel-location p strong, .online-delivery p strong, .pickup-location p strong { font-size: 16px; font-weight: bold; margin-bottom: 0; }
.training-course p i, .training-location p i, .axcel-location p i, .online-delivery p i, .pickup-location p i { float: right; margin-top: 3px; cursor: pointer; }
.training-course .key-info, .training-location .key-info, .axcel-location .key-info, .online-delivery .key-info, .pickup-location .key-info { display: none; }

#current-page { overflow-x: hidden; overflow-y: scroll; height: calc(100vh - 74px); background-color: #FFFFFF; }
#current-page.passwordpage { overflow-y: hidden; }
#current-page h1 { font-family: Verdana, 'Open Sans', sans-serif; font-size: 40px; font-weight: bold; margin-bottom: 0; line-height: 55px; }
#current-page h1 .red { color: #05683E; }

#summary-panel { padding-top: 60px; border-left: 2px solid #CFCFD0; padding-left: 64px; }
#summary-panel p.header { font-weight: bold; text-transform: uppercase; }

.form-group { /*padding-right: 64px;*/ }

.MultiCheckBox { border: 1px solid #e2e2e2; padding: 5px; border-radius: 4px; cursor: pointer; max-width: 100%; }
.MultiCheckBox .k-icon { font-size: 15px; float: right; font-weight: bolder; margin-top: -7px; height: 10px; width: 14px; color: #787878; }

.MultiCheckBoxDetail { display: none; position: absolute; border: 1px solid #e2e2e2; overflow-y: hidden; width: 250px !important; background: #FFFFFF; z-index: 100; }
.MultiCheckBoxDetail .cont { clear: both; overflow: hidden; padding: 2px; }
.MultiCheckBoxDetail .cont:hover { background-color: #cfcfcf; }

.MultiCheckBoxDetailBody { overflow-y: scroll; }
.MultiCheckBoxDetailBody > div > div { float: left; }
.MultiCheckBoxDetailBody .mulinput { margin-right: 8px; }

.MultiCheckBoxDetailHeader { overflow: hidden; position: relative; height: 28px; background-color: #3d3d3d; }
.MultiCheckBoxDetailHeader > input { position: absolute; top: 4px; left: 3px; }
.MultiCheckBoxDetailHeader > div { position: absolute; top: 5px; left: 24px; color: #fff; }

#filterAxcel { width: 100%; }

p#accept { margin-top: 32px; }
p#accept small { text-transform: uppercase; font-size: 10px; font-weight: bold; }

#payment-form #card-errors { display: none; }
#payment-form .StripeElement { width: 100%; height: 40px !important; border: 1px solid #EEEEEE !important; padding: 10px 8px !important; }
#payment-form .StripeElement iframe { height: 24px !important; }

#calendar { width: 560px; margin-bottom: 64px; }
#calendar #calendar-controls { border: 1px solid #CCCCCC; height: 32px; }
#calendar #calendar-controls > * { float: left; width: 60%; text-align: center; line-height: 30px; }
#calendar #calendar-controls .calendar-control { width: 20%; cursor: pointer; font-size: 24px; }
#calendar #calendar-days { display: flex; flex-direction: row; border-left: 1px solid #CCCCCC; }
#calendar #calendar-days .day-title { flex: 1; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; text-align: center; font-weight: bold; }
#calendar .week { clear: both; height: 50px; display: flex; flex-direction: row; border-bottom: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; }
#calendar .day { flex: 1; text-align: center; border-left: 1px solid #CCCCCC; cursor: pointer; }
#calendar .day.booked { background-color: #CCCCCC; color: #666666; }
#calendar .day.active { background-color: #05683E; color: #FFFFFF; }

.form-control.validation-error { border-color: #05683E; }

#btn-credit, #btn-invoice { margin-top: 32px; }

#div-invoice, #div-credit, #participant-details-template, .alert.alert-danger, .alert.alert-warning, #participant-booker, .training-location-courses, #online-tc-alert, #coupon-errors, #coupon-success, #grp-coupon-inner, #coupon-error-details, #online-delivery-delivered, #online-delivery-pickup, #online-delivery-face, #page-public-instance-1, #online-multiples, #summary-total, #div-invoice-details, #div-conf-details { display: none; }

#online-tc label ul, #online-tc label p, #booking-confirmation label ul, #booking-confirmation label p { font-size: 14px; font-weight: 300; text-transform: none; margin-bottom: 16px; }

#booking_location, #booking_delivery, #booking_equipment { margin-bottom: 12px; }

.participant-details { padding-bottom: 32px; border-bottom: 1px solid #EEEEEE; margin-bottom: 32px; }

.remove-participant { width: 32px !important; height: 32px !important; padding: 2px 8px !important; float: right !important; }

#div-invoice { padding-top: 32px; }

.public-instance-button { width: 48px !important; height: 48px !important; padding: 12px 16px !important; }

.participant-match { border: 1px solid #DDDDDD; border-radius: 5px; padding: 10px; margin: 8px 0; }
.participant-match .alert { display: block; }
.participant-match .match-button { height: 48px; padding-top: 11px; margin-top: 22px; }
.participant-match p strong { font-size: 16px; }
.participant-match label { font-size: 14px; }

#grp-coupon { margin-top: 16px; }
#grp-coupon .alert { margin-top: 16px; }

strike { color: #05683E; }

#apply-coupon { width: 100%; padding: 6px; }

#faqAccordion .btn-link { color: #4A4A4A; text-align: left; text-indent: -7px; }
#faqAccordion .btn-link:hover { text-decoration: none; }
#faqAccordion .card-header { background-color: #F0F0F0; }
#faqAccordion .card-header:hover { background-color: #d7d7d7; }
#faqAccordion .card:first-of-type { border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

#axcel-courses .loading { padding-top: 48px; color: #737377; }
#axcel-courses .loading i { color: rgba(5, 104, 62, 0.4); }
#axcel-courses img { width: 100%; }

@media (max-width: 1023px) { a.btn.booking-for { height: 76px; display: flex; }
  a.btn.booking-for span { margin: auto; }
  .form-group { padding-right: 0; } }
@media (min-width: 768px) and (max-width: 1023px) { #calendar { width: 455px; } }
@media (max-width: 991px) { #axcel-courses img { width: 100%; margin-top: -64px; } }
@media (max-width: 767px) { #calendar { min-width: 100%; }
  #axcel-courses .col-6, #axcel-courses .col-12, #axcel-courses .col-3, #axcel-courses .col-2 { padding: 0; }
  nav #home-link { width: 120px; }
  nav #home-link #rr-logo.rr-only, nav #home-link #cq-logo.rr-only { margin-left: 0; }
  .online-delivery { width: 100% !important; }
  #help-panel #help-header #help-close { margin-right: 5px; }
  #help-panel #help-content { height: calc(100vh - 77px); }
  #help-panel .col-lg-4 { padding-left: 15px; }
  .booking-page-container { left: 15px; padding-right: 0; padding-bottom: 32px; }
  .booking-page-container .training-course { margin-right: 0; }
  .training-type, .training-location, .training-state { height: 80px; margin-bottom: 16px; padding: 0; }
  .training-type .content, .training-location .content, .training-state .content { padding: 0; }
  .training-type .content .inner img, .training-location .content .inner img, .training-state .content .inner img { width: 80px; height: 80px; float: right; margin: 0 16px; }
  .training-type .content .inner p, .training-location .content .inner p, .training-state .content .inner p { text-align: left; margin-left: 16px; }
  .training-type .content .inner p:first-of-type, .training-location .content .inner p:first-of-type, .training-state .content .inner p:first-of-type { line-height: 80px; }
  .training-type { height: 120px; }
  .training-type .content .inner p:first-of-type { padding-top: 16px; font-size: 16px; line-height: 20px; }
  .training-type .content .inner p { font-size: 13px; }
  #summary-button { color: #000000; transition: color 0.2s; }
  #summary-button.color { color: #05683E; }
  #current-page { background-color: #FFFFFF; }
  #current-page h1 { font-size: 20px; }
  #summary-panel { position: absolute; left: -100%; top: 74px; height: calc(100vh - 74px); background-color: #FFFFFF; transition: left 0.2s ease-in-out; border-right: 2px solid #05683E; padding-left: 15px; padding-top: 30px; }
  #summary-panel.expanded { left: 0; }
  .booking-page { padding-top: 30px; }
  .row { width: calc(100% + 25px); }
  .row.h100 { min-height: calc(100vh - 90px); } }
