html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #414143;
}

a {
    color: $real-red;
    text-decoration: underline;

    &:hover, &:focus, &:active {
        color: darken($real-red, 10%);
    }

  &.btn-success {
	text-decoration: none;

	/*&.disabled {
	  background-color: transparentize($success, 0.5);
	  border: transparentize($success, 0.5);
	}*/

	&:hover, &:focus, &:active {
	  color: $real-white;
	}
  }
}

label {
    text-transform: uppercase;
    font-weight: bold;

    &.normal-text {
        text-transform: none;
        font-weight: normal;
    }
}

.course-grid {
    .row {
        &.header {
            background-color: $real-red;
            color: $real-white;
            font-weight: bold;
            padding-left: 12px;
        }

        &.session {
            padding: 8px 0;

            &.full {
                display: none !important;

                &.shown {
                    display: flex !important;
                }
            }

            &.odd {
                background-color: #F0F0F0;
            }

            &.even {
                background-color: #FFFFFF;
            }

            a {
                color: $real-red;

                &:hover, &:focus, &:active {
                    color: darken($real-red, 10%);
                    outline: none;
                }
            }
        }
    }
}

.client-logo {
    max-width: 300px;
    max-height: 200px;
}

@media (max-width: 360px) {
    .course-grid {
        .row {
            .address {
                padding-right: 0;
            }
        }
    }
}

nav {
    &.bg-light {
        background-color: $real-white !important;
    }

    #home-link {
        display: block;
        width: 367px;
        height: 48px;
        margin: 0 auto;

        * {
            float: left;
        }

        span {
            padding: 0 12px;
            color: #4A4A4A;
            line-height: 48px;
        }
    }

    #gfa-logo {
        display: block;
        width: 120px;
        height: 48px;
    }

    #rr-logo, #cq-logo {
        display: block;
        width: 126px;
        height: 48px;

        &.rr-only {
            margin-left: 123px;
        }
    }

    #cq-logo {
        width: 153px;
    }

    p {
        margin-bottom: 0;
        font-weight: 600;
    }

    p {
        margin-bottom: 0;
        font-weight: 600;
    }

    #help-button {
        font-weight: 600;
        font-size: 16px;
        white-space: nowrap;
        float: right;
        cursor: pointer;

        .circle {
            border: 1px solid $real-black;
            width: 26px;
            height: 26px;
            border-radius: 13px;
            display: inline-block;
            text-align: center;
            margin-right: 8px;
        }
    }
}

a.link {
    border: 0;
    background: none;
    color: $real-red;
}

.booking-page-container {
    min-height: calc(100vh - 100px);
}

.nevershow {
    display: none !important;
}

#page-payment {
    h1 {
        margin-bottom: 0;
    }
}

.card {
    background-color: $real-white;
    border-bottom: 2px solid $real-red;
    border-radius: 0;
    margin-bottom: 32px;
}

.booking-page-container {
    .btn, .cross-button {
        padding: 16px;
        width: 220px;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

	  	&.booking-for {
			width: 100%;
			float: left;
			margin-right: 0;
			font-size: 14px;
			margin-bottom: 32px;
			border-radius: 0;

			&:first-of-type {
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}

			&:last-of-type {
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
			}
	  	}
    }

    .btn-primary, .cross-button {
        background-color: $real-red !important;
        border: 1px solid transparent;
        border-color: $real-red !important;
        color: $real-white !important;

        &:hover, &:focus, &:active {
            background-color: darken($real-red, 10%) !important;
            border-color: darken($real-red, 10%) !important;
        }
    }

    .btn-default {
        border-color: $real-red !important;
        color: $real-red !important;
        margin-right: 16px;
        text-decoration: none;
    }

    div.words {
        margin-bottom: 64px;
    }
}

#help-panel {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    transition: height 0.2s ease-in-out;
    border-bottom: 2px solid $real-red;

    &.expanded {
        height: 100%;

        .container {
            height: 100%;

             .row {
                 height: 100%;
             }
        }
    }

    #help-header {
        height: 64px;

        #help-close {
            font-weight: 600;
            font-size: 16px;
            white-space: nowrap;
            float: right;
            margin-top: 19px;
            margin-right: -13px;

            .circle {
                border: 1px solid $real-black;
                width: 26px;
                height: 26px;
                border-radius: 13px;
                display: inline-block;
                text-align: center;
                margin-right: 8px;
            }
        }

        .col-lg-4 {
            &:before {
                content: " ";
                position: absolute;
                width: 1200px;
                height: calc(100% + 1px);
                z-index: 0;
                top: 0;
                left: 0;
                background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%); /* FF3.6-15 */
                background-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
                background-image: linear-gradient(to bottom, #ffffff 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
                background-position: top right;
            }

            .content {
                z-index: 100;
                position: absolute;
                top: 0;
                left: 110px;
            }
        }
    }

    #help-content {
        p.header {
            font-weight: bold;
            text-transform: uppercase;
        }
        .col-lg-4 {
            height: calc(100vh - 64px);
            padding-top: 64px;
            padding-left: 64px;

            &:before {
                content: " ";
                position: absolute;
                width: 1200px;
                height: calc(100% + 1px);
                z-index: 0;
                top: 0;
                left: 0;
                background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%); /* FF3.6-15 */
                background-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
                background-image: linear-gradient(to bottom, #ffffff 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
                background-position: top right;
            }

            .content {
                z-index: 10;
                position: relative;
            }

            .content {
                width: 100%;
                height: calc(100vh - 130px);

                #help-scroll {
                    overflow-y: scroll;
                    height: calc(100vh - 205px);

                    .accordion {
                        .card {
                            border: none;
                            margin-bottom: 16px;

                            .card-header {
                                border: none;
                                background: transparent;
                                padding: 0 0 16px 0;

                                .btn {
                                    text-align: left;
                                    color: #000000;
                                    font-weight: 300;
                                    text-indent: -8px;
                                    padding: 0 0 0 32px;

                                    i {
                                        position: relative;
                                        left: -12px;
                                        font-size: 20px;
                                        top: 1px;
                                    }
                                }
                            }

                            .card-body {
                                padding: 0;

                                p span {
                                    font-weight: 300 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.row {
    width: calc(100% + 30px);

    &.h100 {
        min-height: calc(100vh - 74px);
    }
}

.container-fluid {
    padding: 0;
}

.progress-bar {
    width: 100%;
    float: left;
    height: 10px;
    background-color: #EBEBEB;

    .color {
        width: 0;
        height: 100%;
        transition: width 0.5s ease-in-out;
        background-color: $real-red;
    }
}

.booking-page-container {
    width: 100%;
    transition: left 0.5s ease-in-out;
    padding-right: 32px;
    display: none;

    &.shown {
        display: block;
    }

    &.right {
        left: 100%;
    }

    &.left {
        left: -100%;
    }

    th {
        background-color: $real-red;
        color: $real-white;
    }
}

.booking-page {
    padding-top: 60px;
    min-height: calc(100vh - 75px);

    p {
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
        margin-bottom: 0;
    }
}

.training-state, .error-block {
    border: 1px solid #CFCFD0;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    cursor: pointer;

    &:hover, &.active {
        background-color: #F0F0F0;
        border-color: #C0C0C1;
    }

    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .content {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {
            width: 100%;

            p {
                font-size: 16px;
                font-weight: bold;
            }

            img {
                width: 70%;
                margin-bottom: 16px;
            }
        }
    }
}

.training-type {
    border: 1px solid #CFCFD0;
    text-align: center;
    margin-bottom: 40px;
    cursor: pointer;
    height: 100%;

    &:hover, &.active {
        background-color: #F0F0F0;
        border-color: #C0C0C1;
    }

    .content {
        width: 100%;
        height: 100%;
        display: block;
        align-items: center;
        justify-content: center;
        padding: 0 10px;

        .inner {
            p {
                font-weight: normal;
                font-size: 16px;
            }

            img {
                width: 70%;
                margin-bottom: 16px;
            }
        }
    }
}

#other-location {
    display: block !important;
}

.training-course {
    margin-right: 32px;
}

.training-course, .training-location, .axcel-location, .online-delivery, .pickup-location {
    border: 1px solid #CFCFD0;
    margin-bottom: 8px;
    padding: 12px 24px;
    cursor: pointer;

    &:hover, &.active {
        background-color: #F0F0F0;
        border-color: #C0C0C1;
    }

    p {
        font-size: 13px;

        strong {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 0;
        }

        i {
            float: right;
            margin-top: 3px;
            cursor: pointer;
        }
    }

    .key-info {
        display: none;
    }
}

#current-page {
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100vh - 74px);
    background-color: $real-white;

    &.passwordpage {
        overflow-y: hidden;
    }

    h1 {
        font-family: Verdana, 'Open Sans', sans-serif;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 0;
        line-height: 55px;

        .red {
            color: $real-red;
        }
    }
}

#summary-panel {
    padding-top: 60px;
    border-left: 2px solid #CFCFD0;
    padding-left: 64px;

    p.header {
        font-weight: bold;
        text-transform: uppercase;
    }
}

.form-group {
    /*padding-right: 64px;*/
}

.MultiCheckBox {
    border: 1px solid #e2e2e2;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    max-width: 100%;

    .k-icon {
        font-size: 15px;
        float: right;
        font-weight: bolder;
        margin-top: -7px;
        height: 10px;
        width: 14px;
        color: #787878;
    }
}

.MultiCheckBoxDetail {
    display:none;
    position:absolute;
    border:1px solid #e2e2e2;
    overflow-y:hidden;
    width: 250px !important;
    background: #FFFFFF;
    z-index: 100;

    .cont  {
        clear:both;
        overflow: hidden;
        padding: 2px;

        &:hover  {
            background-color:#cfcfcf;
        }
    }
}

.MultiCheckBoxDetailBody {
    overflow-y:scroll;

    > div > div {
        float:left;
    }

    .mulinput {
        margin-right: 8px;
    }
}

.MultiCheckBoxDetailHeader {
    overflow:hidden;
    position:relative;
    height: 28px;
    background-color:#3d3d3d;

    >input {
        position: absolute;
        top: 4px;
        left: 3px;
    }

    >div {
        position: absolute;
        top: 5px;
        left: 24px;
        color:#fff;
    }
}

#filterAxcel {
    width: 100%;
}

p#accept {
    margin-top: 32px;

    small {
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
    }
}

#payment-form {
    #card-errors {
        display: none;
    }

    .StripeElement {
        width: 100%;
        height: 40px !important;
        border: 1px solid #EEEEEE !important;
        padding: 10px 8px !important;
    }

    .StripeElement iframe {
        height: 24px !important;
    }
}

#calendar {
    width: 560px;
    margin-bottom: 64px;

    #calendar-controls {
        border: 1px solid #CCCCCC;
        height: 32px;

        & > * {
            float: left;
            width: 60%;
            text-align: center;
            line-height: 30px;
        }

        .calendar-control {
            width: 20%;
            cursor: pointer;
            font-size: 24px;
        }
    }

    #calendar-days {
        display: flex;
        flex-direction: row;
        border-left: 1px solid #CCCCCC;

        .day-title {
            flex: 1;
            border-right: 1px solid #CCCCCC;
            border-bottom: 1px solid #CCCCCC;
            text-align: center;
            font-weight: bold;
        }
    }

    .week {
        clear: both;
        height: 50px;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
    }

    .day {
        flex: 1;
        text-align: center;
        border-left: 1px solid #CCCCCC;
        cursor: pointer;


        &.booked {
            background-color: #CCCCCC;
            color: #666666;
        }

        &.active {
            background-color: $real-red;
            color: #FFFFFF;
        }

    }
}

.form-control.validation-error {
    border-color: $real-red;
}

#btn-credit, #btn-invoice {
    margin-top: 32px;
}

#div-invoice, #div-credit, #participant-details-template, .alert.alert-danger, .alert.alert-warning,
#participant-booker, .training-location-courses, #online-tc-alert, #coupon-errors, #coupon-success,
#grp-coupon-inner, #coupon-error-details, #online-delivery-delivered, #online-delivery-pickup,
#online-delivery-face, #page-public-instance-1, #online-multiples, #summary-total,
#div-invoice-details, #div-conf-details {
    display: none;
}

#online-tc, #booking-confirmation {
    label {
        ul, p {
            font-size: 14px;
            font-weight: 300;
            text-transform: none;
            margin-bottom: 16px;
        }
    }
}

#booking_location, #booking_delivery, #booking_equipment {
    margin-bottom: 12px;
}

.participant-details {
  padding-bottom: 32px;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 32px;
}

.remove-participant {
  width: 32px !important;
  height: 32px !important;
  padding: 2px 8px !important;
  float: right !important;
}

#div-invoice {
    padding-top: 32px;
}

.public-instance-button {
    width: 48px !important;
    height: 48px !important;
    padding: 12px 16px !important;
}

.participant-match {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 10px;
    margin: 8px 0;

    .alert {
        display: block;
    }

    .match-button {
        height: 48px;
        padding-top: 11px;
        margin-top: 22px;
    }

    p {
        strong {
            font-size: 16px;
        }
    }

    label {
        font-size: 14px;
    }
}

#grp-coupon {
  margin-top: 16px;

  .alert {
	margin-top: 16px;
  }
}

strike {
  color: $real-red;
}

#apply-coupon {
  width: 100%;
  padding: 6px;
}

#faqAccordion {
    .btn-link {
        color: $real-dark-grey;
        text-align: left;
        text-indent: -7px;

        &:hover {
            text-decoration: none;
        }
    }

    .card-header {
        background-color: $real-light-grey;

        &:hover {
            background-color: darken($real-light-grey, 10%);
        }
    }

    .card {
        &:first-of-type {
            border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        }
    }
}

#axcel-courses {
    .loading {
        padding-top: 48px;
        color: lighten($real-grey, 20%);

        i {
            color: rgba($real-red, 0.4);
        }
    }

    img {
        width: 100%;
    }
}

@media (max-width: 1023px) {
    a.btn.booking-for {
        height: 76px;
        display: flex;

        span {
            margin: auto;
        }
    }

    .form-group {
        padding-right: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #calendar {
        width: 455px;
    }
}

@media (max-width: 991px) {
    #axcel-courses {
        img {
            width: 100%;
            margin-top: -64px;
        }
    }
}

@media (max-width: 767px) {
    #calendar {
        min-width: 100%;
    }

    #axcel-courses {
        .col-6, .col-12, .col-3, .col-2 {
            padding: 0;
        }
    }

    nav {
        #home-link {
            width: 120px;

            #rr-logo, #cq-logo {
                &.rr-only {
                    margin-left: 0;
                }
            }
        }
    }

    .online-delivery {
        width: 100% !important;
    }

    #help-panel {
        #help-header {
            #help-close {
                margin-right: 5px;
            }
        }

        #help-content {
            height: calc(100vh - 77px);
        }

        .col-lg-4 {
            padding-left: 15px;
        }
    }

    .booking-page-container {
        left: 15px;
        padding-right: 0;
        padding-bottom: 32px;

        .training-course {
            margin-right: 0;
        }
    }

    .training-type, .training-location, .training-state {
        height: 80px;
        margin-bottom: 16px;
        padding: 0;

        .content {
            padding: 0;

            .inner {
                img {
                    width: 80px;
                    height: 80px;
                    float: right;
                    margin: 0 16px;
                }

                p {
                    text-align: left;
                    margin-left: 16px;
                }

                p:first-of-type {
                    line-height: 80px;
                }
            }
        }
    }

    .training-type {
        height: 120px;

        .content {
            .inner {
                p:first-of-type {
                    padding-top: 16px;
                    font-size: 16px;
                    line-height: 20px;
                }

                p {
                    font-size: 13px;
                }
            }
        }
    }

    #summary-button {
        color: $real-black;
        transition: color 0.2s;

        &.color {
            color: $real-red;
        }
    }

    #current-page {
        background-color: $real-white;

        h1 {
            font-size: 20px;
        }
    }

    #summary-panel {
        position: absolute;
        left: -100%;
        top: 74px;
        height: calc(100vh - 74px);
        background-color: $real-white;
        transition: left 0.2s ease-in-out;
        border-right: 2px solid $real-red;
        padding-left: 15px;
        padding-top: 30px;

        &.expanded {
            left: 0;
        }
    }

    .booking-page {
        padding-top: 30px;
    }

    .row {
        width: calc(100% + 25px);

        &.h100 {
            min-height: calc(100vh - 90px);
        }
    }
}