html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #414143; }

nav.bg-light {
  background-color: #FFFFFF !important; }
nav #home-link {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto; }
nav img {
  display: block;
  width: 48px;
  height: 48px; }
nav p {
  margin-bottom: 0;
  font-weight: 600; }
nav #help-button {
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  float: right; }
  nav #help-button .circle {
    border: 1px solid #000000;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    display: inline-block;
    text-align: center;
    margin-right: 8px; }

.row {
  width: 100%; }
  .row.h100 {
    min-height: calc(100vh - 74px); }

.container-fluid {
  padding: 0; }

.progress-bar {
  width: calc(100% / 7);
  float: left;
  height: 10px;
  background-color: #EBEBEB; }
  .progress-bar.active {
    background-color: #DA1E32; }

.booking-page {
  padding-top: 60px; }

.booking-page p {
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 0; }

.training-location {
  border: 1px solid #CFCFD0;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  cursor: pointer; }

.training-location:hover {
  background-color: #F0F0F0;
  border-color: #C0C0C1; }

.training-location:after {
  content: "";
  display: block;
  padding-bottom: 100%; }

.training-location .content {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center; }

.training-location p {
  font-size: 16px;
  font-weight: bold; }

#current-page h1 {
  font-family: Verdana, 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 60px; }

#booking-summary {
  padding-top: 60px;
  border-left: 2px solid #CFCFD0; }

#booking-summary p.header {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }
